<%- include("../includes/header.ejs", {title: "Update " }); %>

<h1>Update <%= result.street%></h1>
<form action="/address/update" method="get">
    <input type="hidden" id="address_id" name="address_id" value="<%= result.address_id %>">
    Street:<br /> <input id="street" name="street" type="text" value="<%= result.street%>"/>
    <br />
    Zip: <br /><input id="zip_code" name="zip_code" type="text" value="<%= result.zip_code%>"/>
    <br />
    <br />

    </select>



    <br />

    <input type="submit" />

</form>
<a href="/address/all"><< back</a>
<%- include("../includes/footer.ejs"); %>

</html>