<%- include("../includes/header.ejs", {title:"Addresses"}); %>
    <h1>Address</h1>
    <ul>

        <li>Street:
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                    <li><%= result[i].street %></li>
                <% } %>
            </ul>
        </li>
        <li>Zip Code:
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                <li><%= result[i].zip_code %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>