<%- include("../includes/header.ejs", {title: "Add New Address " }); %>

<h1>Add New Address</h1>
<form action="/address/insert" method="get">

    Street:<br /> <input id="street" name="street" type="text"/>
    <br />
    Zip:<br /> <input id="zip_code" name="zip_code" type="text"/>
    <br />
    <br />

    </select>



    <br />

    <input type="submit" />

</form>
<a href="/address/all"><< back</a>
<%- include("../includes/footer.ejs"); %>

</html>