<%- include("../includes/header.ejs", {title:"School"}); %>
<h1>School</h1>
<ul>

    <li>Street:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].school_name %></li>
            <% } %>
        </ul>
    </li>
    <li>Address:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>

            <li><%= result[i].street + ', ' + result[i].zip_code %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>